/* Text */
.sub-title {
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 800;
}

.main-title {
  font-size: 52px;
  line-height: 72px;
}

.main-title .light {
  font-size: 52px;
  font-weight: 200;
  margin-right: 8px;
  color: #fff;
}

.second-main-title {
  font-size: 48px;
}

.main-title .weight {
  font-size: 32px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.description {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 30px;
  font-weight: 300;
}

/* Button */
.btn {
  width: 220px;
  background-color: #000;
  padding: 18px;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
  border-radius: 32px;
  cursor: pointer;
}

.btn-small {
  margin: 0 8px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.btn-submit {
  margin: 0 6px;
  padding: 8px 22px;
  width: auto;
  background-color: #89d0ca;
  color: #fff;
  border-radius: 24px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #10ecd9;
}

.btn-cancel {
  background-color: #c0c0c0;
}

.btn-cancel:hover {
  background-color: #075952;
}

/* A Tag*/
a.general:link, a.general:visited {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

a.general:hover {
  text-decoration: none;
  color: #89d0ca;
}

/* Block */
.block-one {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 12px 0 68px 0;
  color: #000;
}

.block-one .btn {
  margin: 0;
  font-weight: normal;
  padding: 16px 32px;
}

.block-one .btn-big {
  width: auto;
  height: auto;
  font-size: 32px;
  background-color: #fff;
  color: #000;
}

.block-one .btn-small {
  padding: 8px 22px;
  width: 220px;
  height: auto;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  border-radius: 32px;
}

.block-one .btn-small-red {
  padding: 8px 22px;
  width: 220px;
  height: auto;
  font-size: 16px;
  background-color: #c0c0c0;
  color: #fff;
  border-radius: 32px;
}

.block-one .btn:hover {
  background-color: #075952;
  color: #fff;
}

.block-content {
  width: 100%;
  border-radius: 32px;
  background-color: #fff;
  padding: 32px;
}

.block-item {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 100%;
}

.block-item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0;
  padding: 8px 0;
  border-bottom: 1px  solid #000;
  font-weight: bold;
 }

 .block-item .header .left {
  font-size: 22px;
  width: 80%;
 }

 .block-item .header .right {
  text-align: right;
  width: 20%;
 }

.block-item .body {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  line-height: 28px;
  margin: 8px 0;
}

.block-item .body .left {
  width: 80%;
}

.block-item .body .right {
  width: 20%;
  text-align: right;
}

.block-item .text-title {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 32px;
}

.block-item .text-item {
  font-size: 16px;
  text-align: right;
}

.block-item .text-item:last-child {
  margin-bottom: 32px;
}

.block-item .footer {
  display: flex;
  justify-content: end;
}

/* Space */
.super-large-space {
  margin: 122px 0 0 0;
}

.large-space {
  margin: 32px 0;
}

.middle-space {
  margin: 22px 0;
}

/* Color */
.light-green {
  color: #89d0ca;
}

.heavy-green {
  color: #075952;
}

/* Other */
.divide {
  margin: 0 8px;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 200;
}