.section {
  margin-top: 16px;
  border: 1px solid var(--primary-color);
  padding: 16px;
  border-radius: 8px;
}

.divider {
  border-top: 1px solid var(--primary-color);
  width: 100%;
  margin: 8px 0;
}

.disabled {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: not-allowed !important;
}
.disabled:hover {
  background-color: var(--white-color) !important;
}

.header-title {
  font-family: var(--title-font);
  font-weight: bold;
  letter-spacing: 2px;
}

.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;
}
.button:hover {
  background-color: var(--third-color);
  color: var(--black-color);
}

.cancel-button {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;
}
.cancel-button:hover {
  background-color: var(--third-color);
  color: var(--black-color);
}

.delete-button {
  background-color: var(--danger-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
}
.delete-button:hover {
  background-color: var(--danger-color);
  color: var(--black-color);
}

.link-button {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}
.link-button:hover {
  color: var(--primary-color);
}

.edit-button {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;
}
.edit-button:hover {
  background-color: var(--third-color);
  color: var(--black-color);
}

.breadcrumb-container {
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;
}
.breadcrumb-container-item {
  background: var(--white-color);
  color: var(--black-color);
  outline: none;
  width: 120px;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.breadcrumb-container-item:hover:after, .breadcrumb-container-item:hover {
  background: var(--primary-color);
  color: var(--white-color);
  text-decoration: none;
}
.breadcrumb-container-item:focus:after, .breadcrumb-container-item:focus, .breadcrumb-container-item.is-active:focus {
  background: var(--primary-color);
  color: var(--white-color);
}
.breadcrumb-container-item:after, .breadcrumb-container-item:before {
  background: var(--white-color);
  bottom: 0;
  -webkit-clip-path: polygon(50% 50%, -50% -50%, 0 100%);
          clip-path: polygon(50% 50%, -50% -50%, 0 100%);
  content: "";
  left: 100%;
  position: absolute;
  top: 0;
  width: 1em;
  z-index: 1;
}
.breadcrumb-container-item:before {
  background: var(--primary-color);
  margin-left: 1px;
}
.breadcrumb-container-item:last-child {
  border-right: none;
}
.breadcrumb-container-item.is-active {
  background: var(--primary-color);
}

.edit-input {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin: 4px 8px 8px 8px;
  display: grid !important;
  grid-template-columns: 1fr 48px;
  gap: 8px;
}
.edit-input .form-control:focus {
  background: transparent !important;
  border: none !important;
}
.edit-input input {
  border: none;
  width: 98%;
  outline: none;
}
.edit-input-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  gap: 8px;
}
.edit-input-icon div {
  padding: 0 !important;
}

.dropdown,
.dropdown-keep-open {
  position: relative;
  overflow: visible;
  height: 34px;
}
.dropdown .item,
.dropdown-keep-open .item {
  display: grid;
  grid-template-columns: 1fr 10px;
  width: 64px;
  height: 34px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 4px 8px;
  background: #fff;
  font-weight: 400;
  cursor: pointer;
}
.dropdown .item--small,
.dropdown-keep-open .item--small {
  width: 64px;
}
.dropdown .item--medium,
.dropdown-keep-open .item--medium {
  width: 120px;
}
.dropdown .item--large,
.dropdown-keep-open .item--large {
  width: 160px;
}
.dropdown .item .text,
.dropdown-keep-open .item .text {
  text-align: center;
}
.dropdown .item i.arrow-up,
.dropdown-keep-open .item i.arrow-up {
  transform: translateY(4px);
}
.dropdown .item i.arrow-down,
.dropdown-keep-open .item i.arrow-down {
  transform: translateY(-2px);
}
.dropdown .item .hidden,
.dropdown-keep-open .item .hidden {
  display: none;
}
.dropdown .item .up,
.dropdown-keep-open .item .up {
  transform: translateY(4px) rotate(180deg);
}
.dropdown .options,
.dropdown-keep-open .options {
  position: relative;
  width: 64px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 3px var(--primary-color);
  top: 9px;
  overflow: hidden;
  display: none;
}
.dropdown .options--small,
.dropdown-keep-open .options--small {
  width: 64px;
}
.dropdown .options--medium,
.dropdown-keep-open .options--medium {
  width: 120px;
}
.dropdown .options--large,
.dropdown-keep-open .options--large {
  width: 160px;
}
.dropdown.active .options,
.dropdown-keep-open.active .options {
  display: block;
}
.dropdown .options .option,
.dropdown-keep-open .options .option {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.dropdown .options .option:hover,
.dropdown-keep-open .options .option:hover {
  background-color: var(--third-color);
}
.dropdown .options .option.is-active,
.dropdown-keep-open .options .option.is-active {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}
.table thead tr {
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: left;
}
.table th {
  padding: 8px 16px;
}
.table td div {
  display: flex;
  align-items: center;
  padding: 8px 16px;
}
.table td div.text-center {
  justify-content: center;
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr:hover {
  background-color: var(--third-color);
}
.table tr:nth-of-type(even) {
  background-color: var(--gray-color);
}
.table tr:nth-of-type(even):hover {
  background-color: var(--third-color);
}
.table-action-td {
  text-align: right;
}

.modal-dialog_600 {
  max-width: 600px;
}

.modal-dialog_700 {
  max-width: 700px;
}

.modal-dialog_800 {
  max-width: 800px;
}

.modal-dialog_900 {
  max-width: 900px;
}

.modal-dialog_1000 {
  max-width: 1000px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.pagination-item {
  background-color: var(--white-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: var(--black-color);
  cursor: pointer;
  padding: 4px 8px;
}
.pagination-item:hover {
  background-color: var(--third-color);
}
.pagination-item.is-active {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: default;
}/*# sourceMappingURL=component.css.map */