.normal-form {
  padding: 32px 128px;
  width: 50%;
  background-color: #fff;
  border-radius: 28px;
}

.normal-form .title {
  font-size: 48px;
  letter-spacing: -1px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

.normal-form .content {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #c0c0c0;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.normal-form label {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

.normal-form input {
  font-size: 18px;
  margin: 0 0 8px 0;
  padding: 28px 0 12px 0;
  width: 100%;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}

.normal-form input.checkbox {
  margin: 0;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.normal-form textarea {
  font-size: 18px;
  padding: 28px 0 12px 0;
  width: 100%;
  height: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
  border: none;
}

.normal-form .action {
  display: flex;
  justify-content: end;
}

