.message {
  margin-bottom: 32px;
  border-radius: 28px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

.message .success {
  color: #075952;
}

.message .error {
  color: #ff0000;
}

.message .warning {
  color: #f4fb2f;
}