/* colors
   background #FFF5F5
   text #087F5B
   middle #AA3939
 */
* {
  padding: 0;
  margin: 0;
  box-shadow: none !important;
}

body {
  background-color: #fff;
  font-family: "DM Serif Text", serif;
}

/* Header */
.i-brand {
  width: 100px;
  transform: scale(2);
}

.i-nav-link {
  font-weight: bold;
  font-size: 20px;
}

.i-icon {
  display: inline-block;
  background-size: 20px;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
}

.i-icon-calendar {
  background-image: url(../img/icon/calendar.svg);
}

.i-icon-login {
  background-image: url(../img/icon/sign-in.svg);
}

.i-icon-registration {
  background-image: url(../img/icon/signup.svg);
}

.i-nav-item {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
}

/* Main Container */
#main-container {
  display: flex;
  background-color: #fff5f5;
}

.i-choose-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  gap: 10px;
}

.i-choose-prev-month,
.i-choose-next-month {
  width: 48px;
}

.i-chosen-month {
  font-family: "Architects Daughter", cursive;
  font-size: 56px;
  color: #087f5b;
}

.i-switch-month {
  display: flex;
  gap: 10px;
}

.i-change-month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  font-size: 24px;
}

.i-previous-month {
  background-color: #aa3939;
  border: 1px solid #aa3939;
}

.i-next-month {
  background-color: #7a9f35;
  border: 1px solid #7a9f35;
}

.i-change-month:hover {
  font-size: 36px;
  cursor: pointer;
}

.i-calendar-week {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.i-calendar-week-item {
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #087f5b;
  color: #efe2e2;
  height: 30px;
}

.i-calendar-week .card {
  background-color: transparent;
  border: 0;
}

.i-calendar-week-item span {
  font-size: 20px;
  color: #087f5b;
  font-family: "Noto Sans";
  font-weight: bold;
}

.i-calendar-day-item:hover,
.i-calendar-day-item span:hover {
  font-size: 50px;
  cursor: pointer;
}

.i-calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.i-calendar-day-item {
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.i-calendar-day-item span {
  font-size: 60px;
  font-family: "Noto Sans";
  font-weight: bold;
}

.i-calendar-day-item .in {
  color: #000;
}

.i-calendar-day-item .out {
  color: #efe2e2;
}

.i-calendar-day-active-item {
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #087f5b;
}

.i-calendar-day-active-item span {
  font-size: 60px;
  font-family: "Noto Sans";
  font-weight: bold;
  color: #fff;
}

.i-calendar-day-active-item:hover,
.i-calendar-day-active-item span:hover {
  font-size: 50px;
  cursor: pointer;
}

.i-calendar-day-active-item .work-count {
  font-size: 15px;
  line-height: 2;
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  text-align: center;
}

/* Footer */
footer {
  text-align: right;
  margin: 30px 30px 30px 0;
  letter-spacing: 0.5em;
  color: #c0c0c0;
  font-size: 30px;
}

.i-post-one {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  border: 0;
  border-radius: 50px;
  background-color: #087f5b;
  margin: 50px;
  padding: 2px;
  color: #fff;
  font-size: 36px;
}

.i-post-one:hover {
  font-size: 40px;
}

/* Modal */
.modal-content {
  background-color: #f7f3f3;
}

.modal-title {
  color: #087f5b;
  font-weight: bold;
}

.i-body {
  height: 500px;
  overflow-y: auto;
}

.i-item {
  width: 98%;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #efe2e2;
  border: 2px solid #efe2e2;
  border-radius: 5px;
}

.i-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #087f5b;
}

.i-item-title-left {
  font-weight: bold;
}

.i-item-title-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.i-item-title-right-icon {
  position: relative;
  top: 2px;
}

.i-item-title-right-icon:hover {
  color: #000;
  cursor: pointer;
}

.i-item-body {
  margin-top: 5px;
  margin-bottom: 20px;
}

.i-danger-message {
  color: #721c24;
}

.i-operation-normal-size {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin: 0 0 10px 0;
}

/* Media queries */
@media (max-width: 678px) {
  /* Header */
  .i-brand {
    width: 100px;
    transform: rotate(-39deg);
  }

  .i-icon {
    margin-right: 10px;
    background-size: 16px;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
  }

  /* .navbar-collapse ul {
    height: 100vh;
  } */

  .i-navbar {
    margin-top: -24px;
  }

  .i-nav-item {
    margin-left: 13px;
  }

  .i-nav-link {
    font-size: 12px;
  }

  /* Main Container */
  .i-choose-month {
    margin: 30px 0;
  }

  .i-choose-prev-month,
  .i-choose-next-month {
    width: 24px;
  }

  .i-chosen-month {
    font-size: 36px;
  }

  .i-change-month {
    padding: 0;
    background-color: transparent;
    border: 0;
    color: #000;
    border-radius: 0;
  }

  .i-change-month:hover {
    background-color: transparent;
    color: #087f5b;
    cursor: pointer;
  }

  .i-calendar-week-item span {
    font-size: 10px;
  }

  .i-calendar-day {
    gap: 5px;
    margin: 20px 0;
  }

  .i-calendar-day-item {
    height: 50px;
  }

  .i-calendar-day-item span {
    font-size: 10px;
  }

  .i-calendar-day-item:hover,
  .i-calendar-day-item span:hover {
    font-size: 10px;
    cursor: pointer;
  }

  .i-calendar-day-active-item {
    height: 50px;
  }

  .i-calendar-day-active-item span {
    font-size: 12px;
  }

  .i-calendar-day-active-item:hover,
  .i-calendar-day-active-item span:hover {
    font-size: 10px;
  }

  .i-calendar-day-active-item .work-count {
    font-size: 12px;
    line-height: 1.4;
    width: 16px;
    height: 16px;
    border-radius: 16px;
  }

  /* Footer */
  footer {
    text-align: right;
    margin: 10px 14px 10px 0;
    letter-spacing: 0.5em;
    color: #efe2e2;
    font-size: 5px;
  }

  .i-post-one {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    margin: 16px;
  }

  /* Modal */
  .i-edit-day-modal .i-operation-normal-size {
    display: none;
  }

  .i-edit-day-modal .i-operation-small-size {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin: 0 0 10px 0;
  }
}

/* In common */
.i-mb-10 {
  margin-bottom: 10px;
}

.i-mr-10 {
  margin-bottom: 10px;
}

/* Button */
.i-button {
  font-size: 20px;
}

.i-button:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.i-save-button {
  border-radius: 20px;
  color: #087f5b;
}

.i-cancel-button {
  border-radius: 20px;
  color: #aa3939;
}

.i-small-button {
  width: 50px;
  height: 50px;
  background-color: #087f5b;
  border: 1px solid #087f5b;
  border-radius: 25px;
  color: #fff;
  top: -30px;
  position: relative;
  margin-bottom: -24px;
  font-size: 14px;
}

.i-small-button-add:hover {
  font-size: 16px;
}

.i-small-button-del {
  background-color: #721c24;
}

.i-small-button-del:hover {
  background-color: #721c24;
  border: 1px solid #721c24;
  font-size: 16px;
}
