/* colors
   background #FFF5F5
   text #087F5B 
 */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "DM Serif Text", serif;
}

/* Header */
.i-brand {
  width: 100px;
  transform: scale(2);
}

.i-nav-link {
  font-weight: bold;
  font-size: 20px;
}

.i-icon {
  display: inline-block;
  background-size: 20px;
  background-position: 50% 50%;
  width: 20px;
  height: 20px;
}

.i-icon-calendar {
  background-image: url(../img/icon/calendar.svg);
}

.i-icon-login {
  background-image: url(../img/icon/sign-in.svg);
}

.i-icon-registration {
  background-image: url(../img/icon/signup.svg);
}

.i-nav-item {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-right: 10px;
}

/* Main Container */
#main-container {
  display: flex;
  background-color: #fff5f5;
}

.i-choose-month {
  display: flex;
  justify-content: flex-end;
  margin: 50px 0;
}

.i-calendar-week {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.i-calendar-week-item {
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
  background-color: #087f5b;
  color: #efe2e2;
  height: 30px;
}

.i-calendar-week .card {
  background-color: transparent;
  border: 0;
}

.i-calendar-week-item span {
  font-size: 20px;
  color: #087f5b;
  font-family: "Noto Sans";
  font-weight: bold;
}

.i-calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.i-calendar-day-item {
  flex: 1;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.i-calendar-day-item span {
  font-size: 60px;
  font-family: "Noto Sans";
  font-weight: bold;
}

.i-calendar-day-item .in {
  color: #087f5b;
}

.i-calendar-day-item .out {
  color: #efe2e2;
}

/* Footer */
footer {
  text-align: right;
  margin: 30px 30px 30px 0;
  letter-spacing: 0.5em;
  color: #c0c0c0;
  font-size: 30px;
}

/* Media queries */
@media (max-width: 678px) {
  /* Header */
  .i-brand {
    width: 100px;
    transform: rotate(-39deg);
  }

  .i-icon {
    margin-right: 10px;
  }

  /* .navbar-collapse ul {
    height: 100vh;
  } */

  .i-nav-item {
    margin-left: 13px;
  }

  /* Main Container */
  .i-choose-month {
    margin: 30px 0;
  }

  .i-calendar-week-item span {
    font-size: 10px;
  }

  .i-calendar-day {
    gap: 5px;
    margin: 20px 0;
  }

  .i-calendar-day-item {
    height: 50px;
  }

  .i-calendar-day-item span {
    font-size: 10px;
  }

  /* Footer */
  footer {
    text-align: right;
    margin: 10px 14px 10px 0;
    letter-spacing: 0.5em;
    color: #efe2e2;
    font-size: 5px;
  }
}
