// Section
.section {
  margin-top: 16px;
  border: 1px solid var(--primary-color);
  padding: 16px;
  border-radius: 8px;
}

// Divider
.divider {
  border-top: 1px solid var(--primary-color);
  width: 100%;
  margin: 8px 0;
}

// Status
.disabled {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: not-allowed !important;

  &:hover {
    background-color: var(--white-color) !important;
  }
}

// Header
.header-title {
  font-family: var(--title-font);
  font-weight: bold;
  letter-spacing: 2px;
}

// Button
.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: var(--third-color);
    color: var(--black-color);
  }
}

.cancel-button {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 32px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: var(--third-color);
    color: var(--black-color);
  }
}

.delete-button {
  background-color: var(--danger-color);
  color: var(--white-color);
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;

  &:hover {
    background-color: var(--danger-color);
    color: var(--black-color);
  }
}

.link-button {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;

  &:hover {
    color: var(--primary-color);
  }
}

.edit-button {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    background-color: var(--third-color);
    color: var(--black-color);
  }
}

// Breadcrumb
.breadcrumb-container {
  border: 1px solid var(--primary-color);
  border-radius: 0.3rem;
  display: inline-flex;
  overflow: hidden;

  &-item {
    background: var(--white-color);
    color: var(--black-color);
    outline: none;
    width: 120px;
    padding: 8px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover:after,
    &:hover {
      background: var(--primary-color);
      color: var(--white-color);
      text-decoration: none;
    }

    &:focus:after,
    &:focus,
    &.is-active:focus {
      background: var(--primary-color);
      color: var(--white-color);
    }

    &:after,
    &:before {
      background: var(--white-color);
      bottom: 0;
      clip-path: polygon(50% 50%, -50% -50%, 0 100%);
      content: "";
      left: 100%;
      position: absolute;
      top: 0;
      width: 1em;
      z-index: 1;
    }

    &:before {
      background: var(--primary-color);
      margin-left: 1px;
    }

    &:last-child {
      border-right: none;
    }

    &.is-active {
      background: var(--primary-color);
    }
  }
}

// Input
.edit-input {
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 4px;
  width: 100%;
  position: relative;
  padding: 0 !important;
  margin: 4px 8px 8px 8px;
  display: grid !important;
  grid-template-columns: 1fr 48px;
  gap: 8px;

  .form-control:focus {
    background: transparent !important;
    border: none !important;
  }

  & input {
    border: none;
    width: 98%;
    outline: none;
  }

  &-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    gap: 8px;

    & div {
      padding: 0 !important;
    }
  }
}

// Dropdown
.dropdown,
.dropdown-keep-open {
  position: relative;
  overflow: visible;
  height: 34px;

  & .item {
    display: grid;
    grid-template-columns: 1fr 10px;
    width: 64px;
    height: 34px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 4px 8px;
    background: #fff;
    font-weight: 400;
    cursor: pointer;

    &--small {
      width: 64px;
    }

    &--medium {
      width: 120px;
    }

    &--large {
      width: 160px;
    }

    & .text {
      text-align: center;
    }

    & i.arrow-up {
      transform: translateY(4px);
    }

    & i.arrow-down {
      transform: translateY(-2px);
    }

    & .hidden {
      display: none;
    }

    & .up {
      transform: translateY(4px) rotate(180deg);
    }
  }

  & .options {
    position: relative;
    width: 64px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 3px var(--primary-color);
    top: 9px;
    overflow: hidden;
    display: none;

    &--small {
      width: 64px;
    }

    &--medium {
      width: 120px;
    }

    &--large {
      width: 160px;
    }
  }

  &.active .options {
    display: block;
  }

  & .options .option {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #fff;

    &:hover {
      background-color: var(--third-color);
    }
  }

  & .options .option.is-active {
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}

// Table
.table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;

  & thead tr {
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: left;
  }

  & th {
    padding: 8px 16px;
  }

  & td div {
    display: flex;
    align-items: center;
    padding: 8px 16px;
  }

  & td div.text-center {
    justify-content: center;
  }

  & tbody tr {
    cursor: pointer;

    &:hover {
      background-color: var(--third-color);
    }
  }

  & tr:nth-of-type(even) {
    background-color: var(--gray-color);

    &:hover {
      background-color: var(--third-color);
    }
  }

  &-action-td {
    text-align: right;
  }
}

// Modal
.modal-dialog_600 {
  max-width: 600px;
}

.modal-dialog_700 {
  max-width: 700px;
}

.modal-dialog_800 {
  max-width: 800px;
}

.modal-dialog_900 {
  max-width: 900px;
}

.modal-dialog_1000 {
  max-width: 1000px;
}

// Pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  &-item {
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--black-color);
    cursor: pointer;
    padding: 4px 8px;

    &:hover {
      background-color: var(--third-color);
    }

    &.is-active {
      background-color: var(--primary-color);
      color: var(--white-color);
      cursor: default;
    }
  }
}
