.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-color);
  border-radius: 8px;
  padding: 32px;
  width: 480px;

  &__logo {
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: var(--third-color);
    padding: 8px;

    img {
      width: 90px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
  }

  &__body {
    width: 100%;
    margin: 16px 0;
  }

  .button {
    width: 148px;
  }
}
