.dropdown-box {
  @apply w-[30rem] relative;
}

.dropdown-button {
  @apply w-full h-16 text-white bg-primary rounded-lg border border-primary text-2xl;
  display: grid;
  grid-template-columns: 1fr 18px 1rem;
  cursor: pointer;

  &:hover {
    @apply bg-hover border-hover;
  }

  .title {
    @apply h-full flex items-center px-4;
  }

  .icon {
    @apply h-full flex items-center justify-center;
    width: 18px;
  }
}

.dropdown-content {
  @apply absolute w-full bg-white rounded-lg border border-active;
  top: 100%;
  left: 0;
  transform: translateY(10px);
  z-index: 11;

  &:hover {
    @apply border-hover;
  }

  .option {
    @apply w-full h-16 text-primary text-2xl flex items-center px-4;
    cursor: pointer;

    &:hover {
      @apply bg-hover text-white;
    }
  }

  .active {
    @apply bg-active text-white;
  }
}
