nav {
  @media (max-width: 768px) {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
}

#menu-button {
  transform: translateY(0.4rem);
}

.nav {
  @apply hidden md:flex flex-wrap gap-3 bg-darkPrimary px-4 lg:px-8 md:px-8 pb-4;
  font-family: "Poppins", sans-serif;
}

.nav-item {
  @apply flex justify-start items-center gap-2 text-white mb-1 px-4 pt-1 h-[60px] text-left rounded-lg bg-primary font-bold;
}

.nav-item:hover {
  @apply bg-hover text-white;
}

.mobile-nav {
  @apply flex flex-col justify-end items-end px-2 py-6;
}

.mobile-nav-item {
  @apply block text-darkGray text-2xl hover:text-white hover:font-bold my-1;
}
